{% extends 'visit/basevideo.html' %}
{% load static %}

{% block title %}
{{ title }}
{% endblock title %}


{% block content %}

<!-- Start your project here-->

<main class="mt-3">
    <br>

    <div class="container my-5">
        {% include '../_inc/message.html'%}
        <!--Section: Project Overview-->

        <!-- Section: Design Block -->

        <!-- Section: Design Block -->
        <section class="background-radial-gradient overflow-hidden">
            <style>
                .background-radial-gradient {
                  background-color: hsl(218, 41%, 15%);
                  background-image: radial-gradient(650px circle at 0% 0%,
                      hsl(218, 41%, 35%) 15%,
                      hsl(218, 41%, 30%) 35%,
                      hsl(218, 41%, 20%) 75%,
                      hsl(218, 41%, 19%) 80%,
                      transparent 100%),
                    radial-gradient(1250px circle at 100% 100%,
                      hsl(218, 41%, 45%) 15%,
                      hsl(218, 41%, 30%) 35%,
                      hsl(218, 41%, 20%) 75%,
                      hsl(218, 41%, 19%) 80%,
                      transparent 100%);
                }

                #radius-shape-1 {
                  height: 220px;
                  width: 220px;
                  top: -60px;
                  left: -130px;
                  background: radial-gradient(#44006b, #ad1fff);
                  overflow: hidden;
                }

                #radius-shape-2 {
                  border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
                  bottom: -60px;
                  right: -110px;
                  width: 300px;
                  height: 300px;
                  background: radial-gradient(#44006b, #ad1fff);
                  overflow: hidden;
                }

                .bg-glass {
                  background-color: hsla(0, 0%, 100%, 0.9) !important;
                  backdrop-filter: saturate(200%) blur(25px);
                }
            </style>

            <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
                <div class="row gx-lg-5 align-items-center mb-5">
                    <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
                        <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
                            The best offer <br/>
                            <span style="color: hsl(218, 81%, 75%)">for your business</span>
                        </h1>
                        <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
                            Welcome to MetricsUp! Streamline your logistics operations with our powerful business
                            analytics platform.
                            Log in to access real-time insights and predictive analytics that empower your
                            decision-making and drive operational excellence.
                            Our secure and user-friendly interface ensures your data is protected while providing
                            you with the tools needed to
                            optimize your supply chain and boost efficiency. Whether you're tracking shipments or
                            analyzing costs,
                            MetricsUp has the features you need to stay ahead.
                        </p>
                    </div>

                    <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
                        <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
                        <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

                        <div class="card bg-glass">

                            <div class="card-body px-4 py-5 px-md-5">
                                <ul class="nav nav-pills nav-justified mb-3" id="ex1">
                                    <li class="nav-item btn btn-secondary">
                                        <a class="fs-5 text-black">Register</a>
                                    </li>
                                </ul>
                                <!-- Pills navs -->

                                <form method="POST" enctype="multipart/form-data" autocomplete="off">

                                    {% csrf_token %}


                                    <!-- Email input -->
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        {{ form.username }}
                                        <label class="form-label"
                                               for="{{ form.username.id_for_label }}">
                                            {{ form.username.label }}</label>
                                        <div class="invalid-feedback d-block mt-1 mb-1">
                                            {{ form.username.errors }}
                                        </div>
                                    </div>

                                    <div data-mdb-input-init class="form-outline mb-4">
                                        {{ form.email }}
                                        <label class="form-label"
                                               for="{{ form.email.id_for_label }}">
                                            {{ form.email.label }}</label>
                                        <div class="invalid-feedback d-block mt-1 mb-1">
                                            {{ form.email.errors }}
                                        </div>
                                    </div>

                                    <div data-mdb-input-init class="form-outline mb-4">
                                        {{ form.password1 }}
                                        <label class="form-label"
                                               for="{{ form.password1.id_for_label }}">
                                            {{ form.password1.label }}</label>
                                        <div class="invalid-feedback d-block mt-1 mb-1">
                                            {{ form.password1.errors }}
                                        </div>
                                    </div>

                                    <div data-mdb-input-init class="form-outline mb-4">
                                        {{ form.password2 }}
                                        <label class="form-label"
                                               for="{{ form.password2.id_for_label }}">
                                            {{ form.password2.label }}</label>
                                        <div class="invalid-feedback d-block mt-1 mb-1">
                                            {{ form.password2.errors }}
                                        </div>

                                    </div>


                                    <!-- Checkbox -->
                                    <div class="form-check d-flex justify-content-center mb-4">
                                        <input class="form-check-input me-2" type="checkbox" value=""
                                               id="form2Example33" checked/>
                                        <label class="form-check-label" for="form2Example33">
                                            Subscribe to our newsletter
                                        </label>
                                    </div>

                                    <!-- Submit button -->
                                    <button type="submit" data-mdb-ripple-init
                                            class="btn btn-primary btn-block mb-4 fs-5">
                                        Sign up
                                    </button>

                                    <!-- Register buttons -->
                                    <div class="text-center">
                                        <p>or sign up with:</p>
                                        <button type="button" data-mdb-button-init data-mdb-ripple-init
                                                class="btn btn-link btn-floating mx-1">
                                            <i class="fab fa-facebook-f"></i>
                                        </button>

                                        <button type="button" data-mdb-button-init data-mdb-ripple-init
                                                class="btn btn-link btn-floating mx-1">
                                            <i class="fab fa-google"></i>
                                        </button>

                                        <button type="button" data-mdb-button-init data-mdb-ripple-init
                                                class="btn btn-link btn-floating mx-1">
                                            <i class="fab fa-twitter"></i>
                                        </button>

                                        <button type="button" data-mdb-button-init data-mdb-ripple-init
                                                class="btn btn-link btn-floating mx-1">
                                            <i class="fab fa-github"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section: Design Block -->

        <!-- Section: Design Block -->
        <!-- Pills navs -->

    </div>
</main>

<!--Main layout-->

{% endblock %}