{% extends 'visit/basevideo.html' %}
{% load static %}

{% block title %}
{{ title }}
{% endblock title %}


{% block content %}

<!-- Start your project here-->

<main class="mt-3">
    <br>

    <div class="container my-5">
        <!--Section: Project Overview-->
        <section>
            <h3 class="text-center mb-5">Why Choose Our Business Analytics Platform. All about below video</h3>

            <div class="ratio ratio-16x9">
                <iframe src="https://player.vimeo.com/video/137857207" title="YouTube video" allowfullscreen></iframe>
            </div>
        </section>
    </div>
</main>

<!--Main layout-->

{% endblock %}