<form method="post" enctype="multipart/form-data" class="form-material" autocomplete="off"
      action="{% url 'run_anomaly_detection' %}">

    {% csrf_token %}

    <div class="row mb-4">
        <!--                    personal info-->
        <div class="col-lg-4 col-md-6 border-end border-primary">
            <h5 class="mb-4 h4">Proportion of anomalies in the data</h5>
            <!-- Name input -->


            <div class="input-group form-outline mb-3" data-mdb-input-init>
                {{ form.contamination }}
                <label class="form-label" for="{{ form.contamination.id_for_label }}">
                    {{ form.contamination.label }}</label>
                <span class="input-group-text" id="inputGroupPrepend2">AMOUNT</span>
                <div class="invalid-feedback d-block mt-1 mb-1">
                    {{ form.contamination.errors }}
                </div>
            </div>

            <button class="btn btn-primary waves-effect waves-light fs-6" type="submit">
                Run Anomaly Detection
            </button>

        </div>
    </div>
</form>