<div class="d-flex justify-content-end mb-4">
    <div class="form-outline">
        <input data-mdb-search data-mdb-target="#table_modal" type="text" id="search_modal"
               class="form-control"/>
        <label class="form-label" for="search_modal"></label>
    </div>


    <a href="{% url 'admcompdet' %}"
       class="btn btn-primary btn-sm ms-3 d-flex align-items-center justify-content-center"
       title="Company info"
    >
        <i class="far fa-building"></i>
    </a>
    <a href="{% url 'adminmain' %}"
       class="btn btn-primary btn-sm ms-3 d-flex align-items-center justify-content-center"
       title="Admin dashboard"
    >
        <i class="fas fa-toolbox"></i>
    </a>

</div>
