<table class="table border-primary table-sm fs-6 table-striped table-hover" id="dispfilter"
       style="line-height: 1.2 !important;">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Fullname</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Telegram username</th>
        <th scope="col">Phone number</th>
        <th scope="col">Actions</th>

    </tr>
    </thead>
    <tbody>

    {%for type in displist %}
    <tr>
        <td scope="row" id="top-table">{{type.pk}}</td>
        <td id="responsive-border">{{type.fullname}}</td>
        <td id="responsive-border">{{type.username}}</td>
        <td id="responsive-border">{{type.email}}</td>
        <td id="responsive-border">{{type.telegramusername}}</td>
        <td id="responsive-border">{{type.phonenum}}</td>

        <td id="responsive-border">
            <a href="{% url 'admdispview' type.pk %}" title="View dispatcher info" class="me-2 text-dark view-button">
                <i class="far fa-eye"></i>
            </a>

            <a href="{% url 'admdispupd' type.pk %}" title="Update dispatcherinfo" class="me-2 text-dark edit-button">
                <i class="far fa-edit"></i>
            </a>

            <a href="{% url 'admdispdel' type.pk %}" title="Delete dispatcher info" class="me-2 text-dark delete-button ">
                <i class="far fa-trash-alt"></i>
            </a>
        </td>

    </tr>
    {% empty %}
    <tr>
        <td scope="row" id="top-table" label="ID"></td>
        <td id="responsive-border" colspan="5">There is no dispatch info. Please add new dispatch info</td>

    </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>

        <th scope="col" style="width: 10% !important;">Actions</th>

    </tr>
    </tfoot>

</table>